.cat-list {
    background: var(--offset-color);
    padding: 10px;
}

.cat-item {
    max-width: 500px;
    display: grid;
    grid-template-columns: auto 1fr 125px 125px;
    gap: 15px;
    align-items: center;
}
