form * {
    height: 40px;
}

form input {
    width: 200px;
    padding-left: 10px;
}

form button {
    padding: 0 10px;
}

.cat-list {
    background: var(--offset-background);
    padding: 30px;
    max-width: 500px;
}

.cat-item {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 100px 125px;
    gap: 15px;
    align-items: center;
    color: var(--offset-color);
}

.cat-item button {
    font-size: 1.1em;
    padding: 8px 0;
    background: var(--action-color);
    border: 1px solid var(--offset-color);
}
